# Challenge: Data Analysis
project description here

## Imports
Those are all the modules we need for this notebook to work correctly

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Import Dataset
Can't work on datas without importing them beforehand.

In [2]:
ds = pd.read_csv("houses.csv")

## Data Cleaning
Before we can dive into the analysis, we need to clean the datas first.

Let's check if there are any duplicate values.

In [3]:
dupes = ds.drop(columns=["subtype"]).duplicated().to_frame().rename(columns={0: "is_dupe"})
dupes[dupes["is_dupe"]]

       is_dupe
105       True
198       True
202       True
239       True
254       True
...        ...
18160     True
18192     True
18201     True
18227     True
18240     True

[1314 rows x 1 columns]

That's quite the amount of duplicates... Let's get rid of them.

In [4]:
# Get the ID of all the duplicate rows
dupes_id = dupes[dupes["is_dupe"]].index.to_list()

# And filter the dupes out of the original datafram
# Also reset the index so everything is ordered again
ds_clean = ds.loc[~dupes.index.isin(dupes_id)].reset_index().drop(columns=["index"])
ds_clean

,location,type,subtype,price,room_number,area,kitchen_equipped,furnished,fireplace,terrace,terrace_area,garden,garden_area,land_surface,facade_count,swimming_pool,building_condition
0,7700,HOUSE,HOUSE,165000.0,3,108.0,1,0,0,1,40.0,1,120.0,220.0,2.0,0,JUST_RENOVATED
1,4130,HOUSE,HOUSE,325000.0,3,131.0,1,0,0,1,NaN,0,NaN,533.0,4.0,0,GOOD
2,3290,HOUSE,HOUSE,295000.0,2,NaN,1,0,0,1,NaN,0,NaN,123.0,2.0,0,NaN
3,5030,HOUSE,EXCEPTIONAL_PROPERTY,695000.0,4,235.0,1,0,1,1,51.0,1,700.0,5784.0,4.0,0,GOOD
4,8200,HOUSE,HOUSE,495000.0,4,226.0,0,0,0,1,NaN,1,NaN,500.0,NaN,0,AS_NEW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16927,6250,HOUSE,HOUSE,135000.0,4,105.0,0,0,0,1,64.0,0,NaN,116.0,2.0,0,NaN
16928,1348,HOUSE,HOUSE,540000.0,5,150.0,1,0,0,1,48.0,1,NaN,318.0,3.0,0,GOOD
16929,8340,HOUSE,HOUSE,310000.0,3,NaN,1,0,0,0,NaN,0,NaN,750.0,NaN,0,TO_RENOVATE
16930,9300,HOUSE,HOUSE,249000.0,3,162.0,1,0,0,1,15.0,0,NaN,55.0,2.0,0,AS_NEW
16931,9300,HOUSE,APARTMENT_BLOCK,318000.0,6,NaN,1,0,0,0,NaN,0,NaN,110.0,2.0,0,GOOD

The **subtype** column is also not well formated, we'll replace undescores with spaces and Capitalize the types.

In [5]:
# First let's remove the undescores
ds_clean.subtype = ds_clean.subtype.str.replace("_", " ")

# Then capitalize the types
ds_clean.subtype = ds_clean.subtype.str.capitalize()
ds_clean

,location,type,subtype,price,room_number,area,kitchen_equipped,furnished,fireplace,terrace,terrace_area,garden,garden_area,land_surface,facade_count,swimming_pool,building_condition
0,7700,HOUSE,House,165000.0,3,108.0,1,0,0,1,40.0,1,120.0,220.0,2.0,0,JUST_RENOVATED
1,4130,HOUSE,House,325000.0,3,131.0,1,0,0,1,NaN,0,NaN,533.0,4.0,0,GOOD
2,3290,HOUSE,House,295000.0,2,NaN,1,0,0,1,NaN,0,NaN,123.0,2.0,0,NaN
3,5030,HOUSE,Exceptional property,695000.0,4,235.0,1,0,1,1,51.0,1,700.0,5784.0,4.0,0,GOOD
4,8200,HOUSE,House,495000.0,4,226.0,0,0,0,1,NaN,1,NaN,500.0,NaN,0,AS_NEW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16927,6250,HOUSE,House,135000.0,4,105.0,0,0,0,1,64.0,0,NaN,116.0,2.0,0,NaN
16928,1348,HOUSE,House,540000.0,5,150.0,1,0,0,1,48.0,1,NaN,318.0,3.0,0,GOOD
16929,8340,HOUSE,House,310000.0,3,NaN,1,0,0,0,NaN,0,NaN,750.0,NaN,0,TO_RENOVATE
16930,9300,HOUSE,House,249000.0,3,162.0,1,0,0,1,15.0,0,NaN,55.0,2.0,0,AS_NEW
16931,9300,HOUSE,Apartment block,318000.0,6,NaN,1,0,0,0,NaN,0,NaN,110.0,2.0,0,GOOD

Now let's replace **NaN** with 0 where we can

In [6]:
ds_clean["terrace_area"] = ds_clean["terrace_area"].fillna(0)
ds_clean["garden_area"] = ds_clean["garden_area"].fillna(0)
ds_clean["facade_count"] = ds_clean["facade_count"].fillna(0)
ds_clean["land_surface"] = ds_clean["land_surface"].fillna(0)

ds_clean

,location,type,subtype,price,room_number,area,kitchen_equipped,furnished,fireplace,terrace,terrace_area,garden,garden_area,land_surface,facade_count,swimming_pool,building_condition
0,7700,HOUSE,House,165000.0,3,108.0,1,0,0,1,40.0,1,120.0,220.0,2.0,0,JUST_RENOVATED
1,4130,HOUSE,House,325000.0,3,131.0,1,0,0,1,0.0,0,0.0,533.0,4.0,0,GOOD
2,3290,HOUSE,House,295000.0,2,NaN,1,0,0,1,0.0,0,0.0,123.0,2.0,0,NaN
3,5030,HOUSE,Exceptional property,695000.0,4,235.0,1,0,1,1,51.0,1,700.0,5784.0,4.0,0,GOOD
4,8200,HOUSE,House,495000.0,4,226.0,0,0,0,1,0.0,1,0.0,500.0,0.0,0,AS_NEW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16927,6250,HOUSE,House,135000.0,4,105.0,0,0,0,1,64.0,0,0.0,116.0,2.0,0,NaN
16928,1348,HOUSE,House,540000.0,5,150.0,1,0,0,1,48.0,1,0.0,318.0,3.0,0,GOOD
16929,8340,HOUSE,House,310000.0,3,NaN,1,0,0,0,0.0,0,0.0,750.0,0.0,0,TO_RENOVATE
16930,9300,HOUSE,House,249000.0,3,162.0,1,0,0,1,15.0,0,0.0,55.0,2.0,0,AS_NEW
16931,9300,HOUSE,Apartment block,318000.0,6,NaN,1,0,0,0,0.0,0,0.0,110.0,2.0,0,GOOD

## Data Analysis
Now that we've cleaned the Dataset, we can finally analyze it !

### Which variable is the target ?
The "**price**" column.

### How many rows and columns ?

In [7]:
rows, columns = ds_clean.shape
print(f"Rows: {rows}\nColumns: {columns}")

Rows: 16932
Columns: 17

### What is the correlation between the variables and the target ?

In [8]:
ds_corr = ds_clean.copy().drop(columns=["location"])

# One-Hot encode Categorical variables
ds_hot = pd.get_dummies(ds_corr, columns=["subtype"], prefix=["subtype"])

# Label Encode Categorical variables
ds_hot['type'] = ds_hot['type'].astype('category').cat.codes

price_corr = ds_hot.corrwith(ds['price']).to_frame().rename(columns={0: "price_corr"}).drop(["price"])
price_corr

                              price_corr
type                           -0.013209
room_number                    -0.004110
area                           -0.003827
kitchen_equipped               -0.013365
furnished                       0.014963
fireplace                      -0.000121
terrace                        -0.000433
terrace_area                   -0.000304
garden                          0.004597
garden_area                     0.021907
land_surface                   -0.006101
facade_count                    0.011043
swimming_pool                  -0.005080
subtype_Apartment               0.012687
subtype_Apartment block         0.004072
subtype_Bungalow               -0.002070
subtype_Castle                 -0.000911
subtype_Chalet                 -0.003757
subtype_Country cottage        -0.009523
subtype_Duplex                  0.002698
subtype_Exceptional property    0.008382
subtype_Farmhouse               0.005808
subtype_Flat studio             0.000272
subtype_Ground floor            0.001121
subtype_House                  -0.012454
subtype_Kot                     0.000798
subtype_Loft                   -0.004944
subtype_Manor house            -0.010111
subtype_Mansion                 0.000685
subtype_Mixed use building     -0.003437
subtype_Other property         -0.013533
subtype_Penthouse               0.005616
subtype_Service flat           -0.006464
subtype_Town house             -0.009597
subtype_Triplex                -0.003888
subtype_Villa                   0.002256

### What is the correlation between the variables and the other variables ?

In [9]:
ds_hot.corr()

,type,price,room_number,area,kitchen_equipped,furnished,fireplace,terrace,terrace_area,garden,...,subtype_Loft,subtype_Manor house,subtype_Mansion,subtype_Mixed use building,subtype_Other property,subtype_Penthouse,subtype_Service flat,subtype_Town house,subtype_Triplex,subtype_Villa
type,1.000000,0.092491,0.254061,0.409072,-0.013555,-0.088915,0.128125,-0.172545,0.004174,0.335160,...,-0.087239,0.039775,0.096130,0.129841,0.033839,-0.180904,-0.087610,0.073643,-0.052546,0.236073
price,0.092491,1.000000,0.242807,0.607364,0.048438,0.012212,0.156215,0.128473,0.039139,0.069641,...,0.013006,0.040244,0.087444,0.025761,-0.005122,0.075049,-0.030099,-0.013657,0.006523,0.231450
room_number,0.254061,0.242807,1.000000,0.380598,-0.006536,-0.036123,0.080998,-0.010070,0.021519,0.103632,...,-0.016918,0.025522,0.068572,0.040424,0.023338,0.023719,-0.050415,0.006246,0.003370,0.112017
area,0.409072,0.607364,0.380598,1.000000,-0.002415,-0.045917,0.180844,-0.000187,0.034918,0.157893,...,0.019536,0.051299,0.121297,0.149798,0.018044,-0.028372,-0.057895,0.000091,0.006688,0.229381
kitchen_equipped,-0.013555,0.048438,-0.006536,-0.002415,1.000000,0.012644,0.058398,0.174240,0.020789,0.070133,...,0.007765,-0.006985,-0.000868,-0.033996,-0.020150,0.020434,-0.023688,0.013482,0.004251,0.043334
furnished,-0.088915,0.012212,-0.036123,-0.045917,0.012644,1.000000,-0.003699,-0.007782,-0.004132,-0.028146,...,-0.001045,0.001779,-0.009530,-0.003671,-0.005922,-0.001332,-0.014137,-0.003407,-0.008479,-0.021047
fireplace,0.128125,0.156215,0.080998,0.180844,0.058398,-0.003699,1.000000,0.020312,0.010806,0.116750,...,-0.006896,0.041645,0.040794,-0.007741,-0.008271,-0.002985,-0.019745,0.016824,0.003983,0.189673
terrace,-0.172545,0.128473,-0.010070,-0.000187,0.174240,-0.007782,0.020312,1.000000,0.058791,0.070184,...,0.002286,-0.025414,0.004435,-0.051308,-0.022465,0.099082,0.017531,0.001122,0.011007,0.046127
terrace_area,0.004174,0.039139,0.021519,0.034918,0.020789,-0.004132,0.010806,0.058791,1.000000,0.030690,...,0.004799,0.000767,-0.001209,0.000731,-0.001926,0.033236,-0.002919,-0.000394,0.001128,0.006362
garden,0.335160,0.069641,0.103632,0.157893,0.070133,-0.028146,0.116750,0.070184,0.030690,1.000000,...,-0.013900,0.027335,0.032339,-0.017774,-0.002171,-0.092719,-0.035640,0.044857,-0.031635,0.143052
garden_area,0.020125,0.042818,0.027835,0.059348,0.010087,-0.003819,0.003049,0.013909,0.010834,0.039371,...,-0.001062,0.000609,-0.001973,-0.002270,-0.000712,-0.003923,-0.002212,-0.001398,-0.001339,0.006922
land_surface,0.077517,0.208029,0.077702,0.179319,0.006114,-0.003120,0.027358,0.002262,0.006057,0.018306,...,-0.006762,0.045845,-0.000696,0.005281,0.001830,-0.014023,-0.006791,-0.003975,-0.004073,0.039276
facade_count,0.330617,0.149217,0.140366,0.228589,0.148412,-0.021991,0.156818,0.033530,0.019528,0.129572,...,-0.018809,0.005337,0.001281,0.014398,-0.005128,-0.025202,-0.041334,0.015255,0.002527,0.218011
swimming_pool,0.094861,0.334841,0.093511,0.283555,0.043808,0.000143,0.100759,0.075411,0.024709,0.071912,...,0.016049,0.027735,0.004807,-0.014758,-0.005961,-0.020866,-0.001334,-0.008262,-0.008535,0.190788
subtype_Apartment,-0.782277,-0.093260,-0.205084,-0.329985,-0.008885,0.046099,-0.101669,0.135828,-0.014172,-0.278652,...,-0.062930,-0.031115,-0.075201,-0.101572,-0.026472,-0.130496,-0.063198,-0.057609,-0.037904,-0.184675
subtype_Apartment block,0.136843,0.066495,0.100117,0.154439,-0.023835,0.012278,-0.023941,-0.048869,0.004096,-0.031811,...,-0.011938,-0.005903,-0.014266,-0.019268,-0.005022,-0.024755,-0.011989,-0.010929,-0.007190,-0.035033
subtype_Bungalow,0.063622,-0.019202,-0.004368,-0.012929,0.016088,-0.000177,0.004574,-0.002459,-0.001965,0.026500,...,-0.005550,-0.002744,-0.006633,-0.008958,-0.002335,-0.011509,-0.005574,-0.005081,-0.003343,-0.016288
subtype_Castle,0.030443,0.135322,0.043902,0.113852,-0.005926,0.006083,0.017709,-0.003381,-0.001650,0.006655,...,-0.002656,-0.001313,-0.003174,-0.004287,-0.001117,-0.005507,-0.002667,-0.002431,-0.001600,-0.007794
subtype_Chalet,0.025573,-0.013643,-0.001049,-0.014198,0.006197,0.022684,0.003726,0.006132,-0.000621,0.010652,...,-0.002231,-0.001103,-0.002666,-0.003601,-0.000938,-0.004626,-0.002240,-0.002042,-0.001344,-0.006547
subtype_Country cottage,0.068209,0.016067,0.030570,0.065668,-0.001983,0.013630,0.032165,-0.007575,-0.001971,0.023910,...,-0.005951,-0.002942,-0.007111,-0.009604,-0.002503,-0.012339,-0.005976,-0.005447,-0.003584,-0.017462
subtype_Duplex,-0.185364,0.001183,-0.026037,-0.053346,0.026510,0.016169,-0.020233,0.020311,-0.003042,-0.073325,...,-0.014912,-0.007373,-0.017819,-0.024068,-0.006273,-0.030922,-0.014975,-0.013651,-0.008982,-0.043760
subtype_Exceptional property,0.114168,0.226968,0.102269,0.248546,0.041659,0.010847,0.046831,0.052556,0.021239,0.057320,...,-0.009960,-0.004925,-0.011902,-0.016076,-0.004190,-0.020653,-0.010002,-0.009118,-0.005999,-0.029228
subtype_Farmhouse,0.053298,0.034245,0.022855,0.090897,-0.019143,-0.009327,0.006166,-0.029456,-0.000290,0.013003,...,-0.004650,-0.002299,-0.005556,-0.007505,-0.001956,-0.009642,-0.004669,-0.004256,-0.002801,-0.013645
subtype_Flat studio,-0.128770,-0.067236,-0.111207,-0.111701,0.003103,0.157252,-0.029022,-0.054593,-0.007461,-0.064919,...,-0.010359,-0.005122,-0.012379,-0.016720,-0.004357,-0.021481,-0.010403,-0.009483,-0.006239,-0.030399
subtype_Ground floor,-0.171283,-0.027518,-0.052591,-0.075034,0.027748,-0.009587,-0.033630,0.039792,0.002605,0.053077,...,-0.013779,-0.006813,-0.016466,-0.022240,-0.005796,-0.028573,-0.013838,-0.012614,-0.008299,-0.040435
subtype_House,0.749505,-0.127037,0.115391,0.111383,-0.028126,-0.086455,0.017703,-0.176958,-0.004142,0.251594,...,-0.065386,-0.032329,-0.078135,-0.105535,-0.027505,-0.135588,-0.065665,-0.059857,-0.039383,-0.191881
subtype_Kot,-0.033972,-0.017899,-0.016365,-0.029697,-0.020986,0.116503,-0.007656,-0.035895,-0.002440,-0.006471,...,-0.002733,-0.001351,-0.003266,-0.004411,-0.001150,-0.005667,-0.002745,-0.002502,-0.001646,-0.008020
subtype_Loft,-0.087239,0.013006,-0.016918,0.019536,0.007765,-0.001045,-0.006896,0.002286,0.004799,-0.013900,...,1.000000,-0.003470,-0.008386,-0.011327,-0.002952,-0.014553,-0.007048,-0.006425,-0.004227,-0.020595
subtype_Manor house,0.039775,0.040244,0.025522,0.051299,-0.006985,0.001779,0.041645,-0.025414,0.000767,0.027335,...,-0.003470,1.000000,-0.004147,-0.005601,-0.001460,-0.007195,-0.003485,-0.003177,-0.002090,-0.010183
subtype_Mansion,0.096130,0.087444,0.068572,0.121297,-0.000868,-0.009530,0.040794,0.004435,-0.001209,0.032339,...,-0.008386,-0.004147,1.000000,-0.013536,-0.003528,-0.017390,-0.008422,-0.007677,-0.005051,-0.024610
subtype_Mixed use building,0.129841,0.025761,0.040424,0.149798,-0.033996,-0.003671,-0.007741,-0.051308,0.000731,-0.017774,...,-0.011327,-0.005601,-0.013536,1.000000,-0.004765,-0.023489,-0.011375,-0.010369,-0.006823,-0.033241
subtype_Other property,0.033839,-0.005122,0.023338,0.018044,-0.020150,-0.005922,-0.008271,-0.022465,-0.001926,-0.002171,...,-0.002952,-0.001460,-0.003528,-0.004765,1.000000,-0.006122,-0.002965,-0.002702,-0.001778,-0.008663
subtype_Penthouse,-0.180904,0.075049,0.023719,-0.028372,0.020434,-0.001332,-0.002985,0.099082,0.033236,-0.092719,...,-0.014553,-0.007195,-0.017390,-0.023489,-0.006122,1.000000,-0.014615,-0.013322,-0.008765,-0.042707
subtype_Service flat,-0.087610,-0.030099,-0.050415,-0.057895,-0.023688,-0.014137,-0.019745,0.017531,-0.002919,-0.035640,...,-0.007048,-0.003485,-0.008422,-0.011375,-0.002965,-0.014615,1.000000,-0.006452,-0.004245,-0.020682
subtype_Town house,0.073643,-0.013657,0.006246,0.000091,0.013482,-0.003407,0.016824,0.001122,-0.000394,0.044857,...,-0.006425,-0.003177,-0.007677,-0.010369,-0.002702,-0.013322,-0.006452,1.000000,-0.003870,-0.018853
subtype_Triplex,-0.052546,0.006523,0.003370,0.006688,0.004251,-0.008479,0.003983,0.011007,0.001128,-0.031635,...,-0.004227,-0.002090,-0.005051,-0.006823,-0.001778,-0.008765,-0.004245,-0.003870,1.000000,-0.012405
subtype_Villa,0.236073,0.231450,0.112017,0.229381,0.043334,-0.021047,0.189673,0.046127,0.006362,0.143052,...,-0.020595,-0.010183,-0.024610,-0.033241,-0.008663,-0.042707,-0.020682,-0.018853,-0.012405,1.000000

### Which variables have the greatest influence on the target ?

In [10]:
price_corr.sort_values(by='price_corr', key=abs, ascending=False).head(5)

                        price_corr
garden_area               0.021907
furnished                 0.014963
subtype_Other property   -0.013533
kitchen_equipped         -0.013365
type                     -0.013209

### Which variables have the least influence on the target ?

In [11]:
price_corr.sort_values(by='price_corr', key=abs).head(5)

                     price_corr
fireplace             -0.000121
subtype_Flat studio    0.000272
terrace_area          -0.000304
terrace               -0.000433
subtype_Mansion        0.000685

### Percentage of missing values per column ?

In [12]:
ds.isnull().mean() * 100

location               0.000000
type                   0.000000
subtype                0.000000
price                  0.082210
room_number            0.000000
area                  12.030034
kitchen_equipped       0.000000
furnished              0.000000
fireplace              0.000000
terrace                0.000000
terrace_area          58.319632
garden                 0.000000
garden_area           80.987614
land_surface          47.944755
facade_count          31.546640
swimming_pool          0.000000
building_condition    26.455113
dtype: float64

### What did I learn from the analysis of this dataset ?
The housing market is fucked

In [13]:
ds.max()

location                 9992
type                    HOUSE
subtype                 VILLA
price               9500000.0
room_number               204
area                   4709.0
kitchen_equipped            1
furnished                   1
fireplace                   1
terrace                     1
terrace_area          20194.0
garden                      1
garden_area         1134500.0
land_surface         907540.0
facade_count             10.0
swimming_pool               1
dtype: object